---
layout: home
---

<section id="home" data-section="home" style="background-image: url(/images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="editable">Dreaming about an online tool to grow your business?</h1>
            <h2 class="editable">We are committed to great code and we can build it.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="intro">
  <div class="container">
    <div class="row row-bottom-padded-lg">
      <div class="block" style="background-image: url(images/img_7.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="text">
          <i class="intro-icon icon-bulb"></i>
          <h2 class="editable">Plan</h2>
          <p class="editable">Understand the problem, find viable paths, and set the direction.</p>
          <p><a href="#" class="btn btn-primary hidden">Get In Touch</a></p>
        </div>
      </div>
      <div class="block" style="background-image: url(images/img_8.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="text">
          <i class="intro-icon icon-wrench"></i>
          <h2 class="editable">Develop</h2>
          <p class="editable">Build a product that minimally solves the problem, get feedback from users, iterate and improve. Develop a solution using open source and free tools.</p>
          <p><a href="#" class="btn btn-primary hidden">Click Me</a></p>
        </div>
      </div>
      <div class="block" style="background-image: url(images/img_10.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="text">
          <i class="intro-icon icon-rocket"></i>
          <h2 class="editable">Launch</h2>
          <p class="editable">Give the project wings and breath life into it. Market the heck out of it and enjoy the success of your labors.</p>
          <p><a href="#contact" class="btn btn-primary" data-nav-section="contact" class="editable">Let's Take Off</a></p>
        </div>
      </div>
    </div>
    <div class="row watch-video text-center hidden">
      <span>Watch the video</span>

      <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><i class="icon-play2"></i></a>
    </div>
  </div>
</section>

{% include sections/work.html %}

{% if site.testimonials %}{% include sections/testimonials.html %}{% endif %}

{% include sections/services.html %}

{% include sections/about.html %}

{% include sections/counters.html %}

{% include sections/contact.html %}
