<section id="about" data-section="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2>About</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext">
						<h3 class="editable">We started out as friends and now we build kick ass software together.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="person text-center">
					<figure><img src="//www.gravatar.com/avatar/edb4db6925cb04df97de0309348ec228?d=mm&s=240" alt="Phil Monroe" /></figure>
					<h3 class="editable">Phil Monroe</h3>
					<span class="position">Web Developer</span>
					<p class="editable">Polyglot developer on the hunt for interesting problems and innovative technologies.</p>
					<ul class="social social-circle">
						<li><a href="https://www.twitter.com/philmonroe"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.github.com/phil-monroe"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="person text-center">
					<figure><img src="//www.gravatar.com/avatar/15d133e93b104e76e5316856d358edb4?d=mm&s=240" alt="Jim Harris" /></figure>
					<h3 class="editable">Jim Harris</h3>
					<span class="position">Marketer and Wrangler</span>
					<p class="editable">See the smile on my face? I just helped a client solve a problem. And coffee.</p>
					<ul class="social social-circle">
						<li><a href="https://www.twitter.com/harrisj3_ou"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/harrisj3"><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="person text-center">
					<figure><img src="//www.gravatar.com/avatar/eb0ca30a139a9dc5f4d826ac62dde443?d=mm&s=240" alt="Ricky Chilcott" /></figure>
					<h3 class="editable">Ricky Chilcott</h3>
					<span class="position">Web Developer</span>
					<p class="editable">Loves the challenge of learning new technologies, solving problems, and bringing non-techies along for the ride!</p>
					<ul class="social social-circle">
						<li><a href="https://www.twitter.com/rickychilcott"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.github.com/rickychilcott"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>