<section id="fh5co-about" data-section="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="">About</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext">
						<h3 class="editable">We started out as friends and now we build kick ass software together.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="fh5co-person text-center">
					<figure><img src="images/person1.jpg" alt="Image"></figure>
					<h3 class="editable">Phil Monroe</h3>
					<span class="fh5co-position">Web Developer</span>
					<p class="editable">Former Bobcat.</p>
					<ul class="social social-circle">
						<li><a href="https://www.twitter.com/philmonroe"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.github.com/phil-monroe"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-person text-center">
					<figure><img src="images/person2.jpg" alt="Image"></figure>
					<h3 class="editable">Jim Harris</h3>
					<span class="fh5co-position">Marketer and Wrangler</span>
					<p class="editable">Former Bobcat.</p>
					<ul class="social social-circle">
						<li><a href="https://www.twitter.com/harrisj3_ou"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/harrisj3"><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-person text-center">
					<figure><img src="images/person3.jpg" alt="Image"></figure>
					<h3 class="editable">Ricky Chilcott</h3>
					<span class="fh5co-position">Web Developer</span>
					<p class="editable">You guessed it, former Bobcat!</p>
					<ul class="social social-circle">
						<li><a href="https://www.twitter.com/rickychilcott"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.github.com/rickychilcott"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>