<section id="services" data-section="services">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-left">
				<h2 class=" left-border">Services</h2>
				<div class="row hidden">
					<div class="col-md-8 subtext hidden">
						<h3 class="editable"></h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 service">
				<i class="icon icon-rocket"></i>
				<h3 class="editable">WEB APPLICATION DEVELOPMENT</h3>
				<p class="editable">Developing web applications is what we like to do most. It’s our area of expertise. It’s our focus. We build solutions for clients’ problems using Ruby on Rails.</p>
			</div>
			<div class="col-md-6 col-sm-6 service ">
				<i class="icon icon-layers2"></i>
				<h3 class="editable">VIABILITY CONSULTATION</h3>
				<p class="editable">You have an idea for a web application. You want to build it. Now what? Rakefire developers will work with you explaining the pros/cons of different technological approaches, and push you to clarify the application’s purpose and functionality.</p>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-6 col-sm-6 service ">
				<i class="icon icon-cloud-upload"></i>
				<h3 class="editable">RAILS UPGRADES</h3>
				<p class="editable">Migrate your web application to the newer version of Ruby On Rails to take advantage of security patches, Ruby language and performance improvements, and the latest gems. A Rakefire developer can evaluate your application and work with you on a plan of action to complete an upgrade.</p>
			</div>
			<div class="col-md-6 col-sm-6 service">
				<i class="icon icon-monitor"></i>
				<h3 class="editable">WEB APPLICATION AUDIT</h3>
				<p class="editable">In between developers? Looking for a second opinion your web application? Let Rakefire assess your project and complete an independent evaluation. We’ll deliver a report outlining your app’s strengths and weaknesses, and a recommendation for a plan moving forward — a plan taking into account your resources and business goals.</p>
			</div>

		</div>
	</div>
</section>