<section id="counters" style="background-image: url(images/full_image_1.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center to-animate">
				<h2>Fun Facts</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="counter to-animate">
					<i class="counter-icon icon-briefcase to-animate-2"></i>
					<span class="counter-number js-counter" data-from="0" data-to="{{ site.data.projects | where: "status", "Finished" | size }}" data-speed="2000" data-refresh-interval="50"></span>
					<span class="counter-label">Finished projects</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="counter to-animate">
					<i class="counter-icon icon-code to-animate-2"></i>
					<span class="counter-number js-counter" data-from="0" data-to="5" data-speed="2100" data-refresh-interval="50">5</span>
					<span class="counter-label">Open Source Projects</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="counter to-animate">
					<i class="counter-icon icon-trash to-animate-2"></i>
					<span id="gallons-of-coffee" class="counter-number js-counter" data-from="0" data-to="0" data-speed="2200" data-refresh-interval="50"></span>
					<span class="counter-label">Gallons of Coffee</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="counter to-animate">
					<i class="counter-icon icon-cup to-animate-2"></i>
					<span id="cups-of-tea" class="counter-number js-counter" data-from="0" data-to="0" data-speed="2300" data-refresh-interval="50"></span>
					<span class="counter-label">Cups of Tea</span>
				</div>
			</div>
		</div>
	</div>
</section>