<section id="testimonials" data-section="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="">Testimonials</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext">
						<h3 class="editable">Our clients love us and you'll agree.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box-testimony">
					<blockquote class="">
						<p>&ldquo;As I was launching my firm, I turned to my Bobcat Family for website guidance. Jim worked with my team to get everything online, and gave us the tools and vocabulary we needed to be more competitive in our industry. Jim continues to ping us with new ideas to ensure we're making the most of our online presence.&rdquo;</p>
					</blockquote>
					<div class="author">
						<figure><img src="images/person1.jpg" alt="Person"></figure>
						<p>
						Justin McCaulley, President <a href="http://www.mccaulleyandco.com/" target="_blank">McCaulley&Company</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>