<footer id="footer" role="contentinfo">
	<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
	<div class="container">
		<div class="">
			<div class="col-md-12 text-center">
				<p>&copy; {% include helpers/current_year.html %} {{ site.company }}. All Rights Reserved. <br>Created by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></p>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="social social-circle">
					<li><a href="https://www.twitter.com/{{ site.social.twitter }}"><i class="icon-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/{{ site.social.facebook }}"><i class="icon-facebook"></i></a></li>
					<li><a href="https://www.github.com/{{ site.social.github }}"><i class="icon-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
